@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(85, 82, 73, 0.4);
    box-shadow: 0 0 0 0 rgba(78, 87, 76, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0px 20px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.projects_sec{
    margin-top: 400px;
    margin-bottom: 150px;
    .carousel{
        display: flex;
        justify-content: center;
        
        .slider{
            background-color: rgb(251, 255, 254);
            margin-bottom: 20px;
            padding: 50px 0px ;
            border-radius: 30px;
            box-shadow: 0px 0px 2px rgb(236, 236, 236);
            //justify-content: center; CANT USE, CAUSE IT REMOVE 3,4th slide... empty
            .left-side{
                h1{
                    font-weight: 700;
                    font-size: 22px;
                    //color: rgb(193, 145, 255);
                }
                h3{
                    font-size: 300;
                    font-size: 16px;
                }
                p{
                    font-size: 20px;
                    //max-width: 900px;
                    //align-items: center;
                }
                .link_p{
                    padding: 8px 10px;
                    font-size: 24px;
                    font-weight: 800;
                    background-color: white;
                    opacity: 0.5;
                    animation: pulse 2.5s infinite;
                    a{
                        text-decoration: none;
                        color: black;
                        opacity: 1;
                    }
                }
            }

        }
    }
}