.footer{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    .arrow{
        width:100px;
        height: 100px;
        color: rgb(139, 139, 139);
        font-weight: 100;
        border: 1px solid gray;
        border-radius: 250px;
        margin-bottom: 50px;
        
    }
    .arrow:hover{
        animation: pulse 1.5s infinite;
    }
    .medias{
        display: flex;
        justify-content: center;
        align-items: center;
        
        .icon{
        font-size: 55px;
        margin: 25px;
        }
    
    }
}

@media screen and (max-width: 450px){
    .footer{
    .arrow{
        width:50px;
        height: 50px;
    }
    .medias{
        a .icon{
            font-size: 40px;
            margin: 15px;
        }
    }
    .footer-inf{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            font-size: 12px;
            align-items: center;
        }
        p{
            font-size: 12px;
            max-width: 350px;
        }
    }
    }
}